<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Salonorizer</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>{{ stylist.getStylist }}'s Clients</h1>
        <form action="/stylists/{{ stylist.getId }}/edit" method="post">
          <a href="/stylists/{{ stylist.getId }}/edit">Edit this stylist</a>
        </form>
      </div>

      {% for client in clients %}
        <ul>
          <form action="/clients/{{ client.getId }}/edit" method="post">
            <li><a href="/clients/{{ client.getId }}/edit">{{ client.getClientName }}</a></li>
          </form>
        </ul>
      {% endfor %}

      <form action="/clients" method="post">
        <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
        <label for="client">Client: </label>
        <input type="text" name="client" required>
        <button type="submit">Submit</button>
      </form>

      <form action="/delete_all_clients" method="post">
        <h4>Delete All Clients</h4>
        <button type="submit">Click here</button>
      </form>


      <p><a href="/">Home</a></p>
    </div>
  </body>
</html>

<!-- Major assist from database basics with php/relationships in silex -->
